html{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}
body{
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content:center;
  height: 90%;
  width: 100%;
  flex-direction: column;

  box-sizing: border-box;
}
#squares-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  height: 800px;
  width: 750px;
}

@media (max-width: 750px) {
  #squares-container {
    /*justify-content: space-around;*/
    height: 300px;
    width: 300px;

  }
}

#title{
  color:#e3e3e3;
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;

}

.description{
  color:#e3e3e3;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 5px;
}

.square {
  width: 100%;
  height: 100%;
}

.link-placeholder{
  width: 100%;
  height: 100%;
}
.colour-form{
  width: 100%;
  height: 100%;
}

.text.cell{
  display:flex;
  align-items: center;
  text-align: center;
}

.cell {
  flex: 1;
  flex-basis: 28%;
  height:30%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #999;
  border-radius: 3px;
  border-left:4px solid #202020;
  border-bottom:4px solid #202020;
  box-sizing: border-box;
}

.red-square{
  background-color: #ff6961
}

.yellow-square{
  background-color:#fffa82
}
.pink-square{
  background-color:#fbb6d3
}
.blue-square{
  background-color: #9bcee1
}
.green-square{
  background-color: #b6e0ae
}
.orange-square{
  background-color: #fecaa3
}
.purple-square{
  background-color: #c1b3d7
}

.coloured:hover{
  border-left:1px solid #202020;
  border-bottom:1px solid #202020;
}
.red-square:hover{
  background-color: #ef5951
}

.yellow-square:hover{
  background-color:#efea72
}
.pink-square:hover{
  background-color:#eba6c3
}
.blue-square:hover{
  background-color: #8bbed1
}
.green-square:hover{
  background-color: #a6d09e
}
.orange-square:hover{
  background-color: #eeba93
}
.purple-square:hover{
  background-color: #b1a3c7
}
