

<p id='title'>COLOUR THINK</p>
<div id='squares-container'>

  <div class='cell'>
  </div>

  <% @colours.each do |colour|%>
    <div class='cell coloured' id='<%=colour%>-square'>
      <form class='colour-form' action='/search/<%=colour%>' method='post'>
        <a class='square' id='<%=colour%>-link' href="javascript:;" onclick="parentNode.submit();">
          <div class='link-placeholder'></div>
        </a>
      </form>
    </div>
  <%end%>

  <div class='cell'>
  </div>
</div>

<p id='description'>click the colours for inspiration</p>
