<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Colour Think</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Tenor+Sans" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="/stylesheets/search.css" rel="stylesheet">

  </head>

  <body >
    <%= yield %>
  </body>
</html>
